.formContainer {
  padding: 43px 24px 53px;
  background-color: var(--primaryColor4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  background: #ffffff;
  border: 2px solid var(--primaryColor2);
  box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
  border-radius: 16px;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 808px;
  }
}

.formTitle {
  width: 123px;
  height: 43px;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid var(--primaryColor2);
  color: var(--primaryColor2);
  box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
  border-radius: 50px;
  position: absolute;
  top: -20px;
  left: 102px;
  font-weight: 700;
  font-size: 18px;
  line-height: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2em;
  @media screen and (min-width: 768px) {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.turtle {
  position: absolute;
  top: -20px;
  right: -40px;
  transform: rotate(-30deg);
  animation: turtleMove 20s linear forwards;
}

#buttonAnimation {
  animation: scale 3s linear infinite;
}

@keyframes turtleMove {
  0% {
    transform: rotate(-15deg);
    top: -20px;
    right: -40px;
  }
  10% {
    top: -20px;
    right: 0px;
  }
  30% {
    top: -20px;
    right: 20px;
  }
  50% {
    top: -20px;
    right: 30px;
  }
  60% {
    top: -20px;
    right: 70px;
  }
  70% {
    top: -10px;
    right: 93px;
  }

  80% {
    top: -20px;
    right: 103px;
  }

  100% {
    top: -20px;
    right: 120px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
