.giftCard {
  width: 178px;
  height: 112px;
  background: #ffffff;
  box-shadow: 0px 8px 0px #edeef0;
  border-radius: 20px;
  padding: 10px 8px;
  position: relative;
  margin-bottom: 2rem;
}

.certificate {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.grade {
  position: absolute;
  top: 20px;
  left: 27px;
  color: #fff;
}

.quantity {
  width: 45px;
  height: 23px;
  text-align: center;
  background: #fafafa;
  border: 1px solid var(--primaryColor6);
  border-radius: 50px;
  position: absolute;
  top: 18px;
  right: 8px;
  color: var(--primaryColor6);
}

.giftName {
  /* width: 150px; */
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 58px;
  text-align: center;
  color: var(--primaryColor6);
}

.dQuantity {
  color: var(--primaryColor7);
  border: 1px solid var(--primaryColor7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dName {
  color: var(--primaryColor7);
}
