.giftContainer {
  background-color: #e2d9d3;
  background-image: url("/public/sand.png");

  padding: 64px 0px;
  margin: 0 auto;
}

.giftCards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
  width: 372px;
  @media screen and (min-width: 768px) {
    width: 598px;
    gap: 32px;
  }
}
